@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1765421947068') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e8b6";
}

